// Use an absolute-style path. 
// This stops esbuild from trying to find the file during the build.
$govuk-fonts-path: "/assets/fonts/";
$govuk-images-path: "/assets/images/";

@import "govuk-frontend/dist/govuk/all";

body {
    background-color: red;
}